.btn-primary
{
    border-radius: 50%;
    transition: 0.3s;

    i
    {
        font-size: 30px;
    }

    &:hover
    {
        transition: 0.3s;
        background-color: #fff;

        i
        {
            color: #000;
        }
    }
}
.board
{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    .column
    {
        display: flex;
        flex-direction: column;
        border: 3px solid #ffffff;
        border-radius: 50px;
        padding: 10px;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        backdrop-filter: blur(50px);
        hr
        {
            margin-bottom: 50px;
        }
    }
}