<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal"><i
                class="fa-solid fa-plus"></i></button>
    </div>
</div>

<div cdkDropListGroup class="board">
    <div cdkDropList class="column" [cdkDropListData]="TODO" (cdkDropListDropped)="drop($event)">
        <h4>ToDO</h4>
        <hr>
        <app-project class="card" *ngFor="let item of TODO" cdkDrag [cdkDragData]="item" [item]="item">
            <div class="card--placeholder" *cdkDragPlaceholder></div>
        </app-project>
    </div>
    <div cdkDropList class="column" [cdkDropListData]="INPROGRESS" (cdkDropListDropped)="drop($event)">
        <h4>In Progress</h4>
        <hr>
        <app-project class="card" *ngFor="let item of INPROGRESS" cdkDrag [cdkDragData]="item" [item]="item">
            <div class="card--placeholder" *cdkDragPlaceholder></div>
        </app-project>
    </div>
    <div cdkDropList class="column" [cdkDropListData]="DONE" (cdkDropListDropped)="drop($event)">
        <h4>Done</h4>
        <hr>
        <app-project class="card" *ngFor="let item of DONE" cdkDrag [cdkDragData]="item" [item]="item">
            <div class="card--placeholder" *cdkDragPlaceholder></div>
        </app-project>
    </div>
</div>